.badge {
    width: 100%;
    padding: 0;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    /* height: 380px; */
}
.badge_header {
    padding: 0.5rem 0;
    height: 80px;
    background: #1b1b25;
    display: flex;
    justify-content: center;
}
.badge_section-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    color: black;
}
.badge_section-name h1 {
    margin-right: 1rem;
}
.badge_section-name img {
    margin-right: 1rem;
    border-radius: 50%;
}
.badge_section-info {
    display: flex;
    font-size: 21px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    background: #f4f4f7;
    color: black;
} 
.badge_avatar {
    border-radius: 50%;
    margin-right: 1rem;
    width: 120px;
    /* height: 120px; */
}
.badge_footer {
    height: 54px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #98ca3f;
    font-weight: bold;
    font-style: italic;
}
.Card__badge {
    display: grid;
    grid-template-columns: 140px 1fr 50px;
    grid-template-rows: minmax(140px, 1fr);
    border: solid 1px transparent;
    margin: 1rem 0;
    box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.5);
    border-radius: 0.25rem;
    font-size: 18px;
}
.Card__badge-info {
    padding: 1rem 0;
}
.Card__badge-image {
    place-self: center;
}
.Card__badge-image img {
    border-radius: 50%;
}
[class*="icon"] {
    width: 18px;
    height: 18px;
    background-size: cover;
    vertical-align: middle;
    display: inline-block;
}
.twitter-icon {
    background-image: url('../../images/twitter.svg');
}
.user-icon {
    background-image: url('../../images/user.svg');
}
.mail-icon {
    background-image: url('../../images/mail.svg');
}
.edit-icon {
    background-image: url('../../images/edit.svg');
}
.eye-icon {
    background-image: url('../../images/eye.svg');
}
.delete-icon {
    background-image: url('../../images/delete.svg');
}